<%= form_tag(lists_path, method: :post, remote: true) do %>
  <div class="form-group">
    <%= text_field_tag 'list[name]', nil, autofocus: true, class: 'form-control', placeholder: 'List name' %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Create', class: 'btn btn-success' %>
  </div>
<% end %>