<div class="container main-background">
  <p class="lead main-list-head">My Own Lists</p>
  <div class="row" id="my-own-lists">
    <% @lists.each do |list| %>
      <%= render list %>
    <% end %>
  </div>
  <p class="lead main-list-head">Shared Lists</p>
  <div class="row" id="my-own-lists">
    <% @shared_lists.each do |list| %>
      <%= render list %>
    <% end %>
  </div>
</div>