<%= form_for([@list, @item], remote: true) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>
  <div class="form-group">
    <%= f.submit :update, class: 'btn btn-success' %>
    <%= link_to 'cancel', cancel_edit_list_item_path(@list, @item), remote: true, class: 'btn btn-primary' %>
  </div>
<% end %>