<%= form_for([@list, @item], remote: true, html: { class: 'form-inline' }) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>
  <div class="form-group">
    <%= f.submit :Update, class: 'btn btn-success btn-without-border' %>
    <%= link_to cancel_edit_list_item_path(@list, @item), remote: true, class: 'btn btn-danger btn-without-border' do %>
      <i class="fa fa-times fa-lg"></i>
    <% end %>
  </div>
<% end %>