<li id="item-<%= item.id %>">
  <div class="item-name">
    <%= item.name %>
  </div>
  <%= link_to 'edit', edit_list_item_path(item.list_id, item), remote: true %>
  <%= link_to 'delete', list_item_path(item.list_id, item), method: :delete, remote: true %>
</li>