body {
  padding: 65px;
  font-family: 'Lato';
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.navbar {
  background: $blue;
}

.navbar a {
  font-weight: 700;
  color: $white !important;
  &:hover {
    color: $green !important;
  };
}

.navbar-nav > li > a {
  font-size: 1.35rem !important;
}